<div id="<%= dom_id product %>">
  <div>
  </div>
    <strong>Name:</strong>
    <%= product.name %>
    <strong>Descrption:</strong>
    <%= product.descrption %>
    <strong>Price:</strong>
    <%= product.price %>

</div>
